body {
  background: $color7;
}
& {
  display: flex;
  width: px(1376);
  height: px(496);
  margin: px(40) auto 0;
  border-radius: px(20);
  overflow: hidden;

  .info {
    width: px(972);
    padding-top: px(58);
    padding-left: px(39);
    background: $mainColor1;

    .sprintNumber {
      color: $color6;
      font-size: px(28);
    }

    .title {
      margin-top: px(30);
      color: $color2;
      font-size: px(42);
    }

    .progressBlock {
      margin-top: px(74);

      .progressBar {
        position: relative;
        display: flex;
        align-items: center;
        width: px(892);
        height: px(6);
        background: $color7;

        .progress {
          height: px(17);
          background-image: url("../../../Assets/srpintStatusBar-bg.svg");
          border-radius: px(10);

          .percent {
            position: absolute;
            right: 0;
            bottom: px(30);
            width: px(76);
            height: px(40);
            background: $color8;
            color: $mainColor1;
            font-size: px(24);
            font-weight: bold;
            border-radius: px(20);

            label {
              position: relative;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100%;

              &::after {
                position: absolute;
                bottom: px(-4);
                left: 50%;
                margin-left: px(-4);
                width: px(8);
                height: px(8);
                transform: rotate(45deg);
                background: $color8;
                content: '';
              }
            }
          }
        }
      }
    }

    .quests {
      display: flex;
      justify-content: space-between;
      margin-top: px(39);
      width: px(892);

      .items {
        .item {
          display: flex;
          margin-bottom: px(30);
          color: $color2;
          font-size: px(32);

          &::before {
            display: flex;
            align-items: center;
            justify-content: center;
            width: px(32);
            height: px(32);
            margin-right: px(22);
            background: $color9;
            border-radius: 50%;
            content: '';
          }
        }

        .active {
          &::before {
            display: flex;
            align-items: center;
            justify-content: center;
            width: px(32);
            height: px(32);
            margin-right: px(22);
            background: $color10;
            font-size: px(22);
            color: $mainColor1;
            padding-top: px(4);
            border-radius: 50%;
            content: '\2713';
          }
        }
      }

      span {
        margin-top: px(10);
        font-size: px(32);
      }
    }
  }
  .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: px(404);
    background: $color11;

    .icon {
      width: px(300);
    }
  }
}